<section  class="mod flex {{#if mod_name}}{{mod_name}}{{/if}}" 
          data-role="mod" id="particles-js"  
          {{#if data_conf}}data-conf="{{data_conf}}"{{/if}}>

  <ul class="home-intro flex flex-item">
      <li class="logo icn-before" data-role="logo"></li>
      <li class="typeface icn-before"></li>
  </ul>
</section>
