// utility imports i.e colors/fonts
@import "normalize";
@import "fonts";
@import "colors";

html, * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.icn, .icn-before:before, .icn-after:after {
  background-image: url(/images/develonaut_sprite_sheet.svg);
  background-color: transparent;
}

.icn-before:before, .icn-after:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.logo {
  z-index: 999;

  &.woo-hoo{
    animation:spin 0.5s linear;
  }

  &:before {
    background: url(/images/develonaut_logo.svg);
    width: 75px;
    height: 75px;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.typeface {
  &:before {
    background-position: -105px -22px;
    width: 341px;
    height: 32px;
  }
}

.hidden {
  display: none !important;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-item-base {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.flex-item-grow {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.site-wrapper {
  top: 0px;
  left: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
